@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple <a href="https://github.com/Mr-Ap/BookStoreWebApp/blob/master/BookStoreWeb">Web application</a>deveopled with ASP.NET Core and Sql.</p>
</div>
